@font-face {
    font-family: "iconfont";
    /* Project id 4208467 */
    /* Color fonts */
    src:
        url('//at.alicdn.com/t/c/font_4208467_d7xfs6spmt8.woff2?t=1691861342702') format('woff2'),
        url('//at.alicdn.com/t/c/font_4208467_d7xfs6spmt8.woff?t=1691861342702') format('woff'),
        url('//at.alicdn.com/t/c/font_4208467_d7xfs6spmt8.ttf?t=1691861342702') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
    content: "\e635";
}

.icon-Twitter:before {
    content: "\e6f3";
}

.icon-Youtube:before {
    content: "\ea4c";
}

.icon-weibo:before {
    content: "\e600";
}

.icon-csdn:before {
    content: "\e638";
}

.icon-email:before {
    content: "\e6eb";
}

.icon-skype:before {
    content: "\ea04";
}

.icon-stackoverflow:before {
    content: "\ea05";
}

.icon-google:before {
    content: "\ea0c";
}

.icon-GitHub:before {
    content: "\e8c6";
}

.icon-facebook2:before {
    content: "\e604";
}

.icon-instagram:before {
    content: "\e60c";
}

.icon-QQ:before {
    content: "\e69c";
}

.icon-bilibili:before {
    content: "\e609";
}