@font-face {
    font-family: "iconfont";
    /* Project id 4208467 */
    /* Color fonts */
    src:
        url('//at.alicdn.com/t/c/font_4208467_qeahh7tbgzg.woff2?t=1693120420095') format('woff2'),
        url('//at.alicdn.com/t/c/font_4208467_qeahh7tbgzg.woff?t=1693120420095') format('woff'),
        url('//at.alicdn.com/t/c/font_4208467_qeahh7tbgzg.ttf?t=1693120420095') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
    content: "\e63d";
}

.icon-zhihu1:before {
    content: "\e6f7";
}

.icon-Twitter:before {
    content: "\e6f3";
}

.icon-Youtube:before {
    content: "\ea4c";
}

.icon-weibo:before {
    content: "\e600";
}

.icon-csdn:before {
    content: "\e638";
}

.icon-email:before {
    content: "\e6eb";
}

.icon-skype:before {
    content: "\ea04";
}

.icon-stackoverflow:before {
    content: "\ea05";
}

.icon-google:before {
    content: "\ea0c";
}

.icon-GitHub:before {
    content: "\e8c6";
}

.icon-facebook2:before {
    content: "\e604";
}

.icon-instagram:before {
    content: "\e60c";
}

.icon-QQ:before {
    content: "\e69c";
}

.icon-bilibili:before {
    content: "\e609";
}